<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/schedule"></ion-back-button>
    </ion-buttons>
    <ion-title>Details Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let ea of temp">
    <ion-card-header>
      <ion-card-subtitle>{{ea.dateEvent | date}}</ion-card-subtitle>
      <ion-card-title>{{ea.nameEvent}}</ion-card-title>
      <ion-card-subtitle>{{distance | number}} Km</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ea.nameLocation}} - {{ea.addressLocation}}
    </ion-card-content>
    <div #map id="map"></div>
    <div class="row">
      <div class="column" style="text-align: center ; margin-bottom: 20px">
        <ion-button [hidden]="!logged" class="submit-btn" style="width: 90%" type="submit" (click)="apply()">Apply</ion-button>
      </div>
    </div>
  </ion-card>

</ion-content>
