<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="assets/icon/blonation.png" width="40px" style="display:inline-block" height="40px" slot="end">
    <ion-title class="titleicon">Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

      <ion-item *ngFor="let e of event">
        <ion-row>
          <ion-label >
            {{ e.nameEvent }}
            <ion-datetime slot="end" displayFormat="DDD, DD MMM YYYY" [value]="e.dateEvent"></ion-datetime>
          </ion-label>
        </ion-row>
      </ion-item>

  </ion-list>

</ion-content>
