<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset-md="2" size-md="8">
        <form class="form" [formGroup]="validationForm" (ngSubmit)="tryRegister(validationForm.value)">
          <!--nama-->
          <ion-item>
            <ion-label position="floating" color="primary">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.name">
              <div class="error-message"
                   *ngIf="validationForm.get('name').hasError(validation.type) && (validationForm.get('name').dirty || validationForm.get('name').touched) ">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <!--email-->
          <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message"
                   *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email').dirty || validationForm.get('email').touched) ">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <!--phone-->
          <ion-item>
            <ion-label position="floating" color="primary">Phone</ion-label>
            <ion-input type="number" formControlName="phone"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.phone">
              <div class="error-message"
                   *ngIf="validationForm.get('phone').hasError(validation.type) && (validationForm.get('phone').dirty || validationForm.get('phone').touched) ">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <!--alamat-->
          <ion-item>
            <ion-label position="floating" color="primary">Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.address">
              <div class="error-message"
                   *ngIf="validationForm.get('address').hasError(validation.type) && (validationForm.get('address').dirty || validationForm.get('address').touched) ">
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <!--tanggal lahir-->
          <ion-item style="margin-top: 15px">
            <ion-label color="primary">Birth Date</ion-label>
            <ion-datetime formControlName="birth" ></ion-datetime>
          </ion-item>

          <!--golongan darah-->
          <ion-item style="margin-top: 15px">
            <ion-label color="primary">Blood Type</ion-label>
            <ion-select formControlName="blood" interface="action-sheet">
              <ion-select-option value="1">A</ion-select-option>
              <ion-select-option value="2">AB</ion-select-option>
              <ion-select-option value="3">B</ion-select-option>
              <ion-select-option value="4">O</ion-select-option>
            </ion-select>
          </ion-item>

          <!--Berat dan tinggi badan-->
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating" color="primary" >Weight</ion-label>
                  <ion-input type="number" formControlName="weight" min="0" max="999" ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating" color="primary">Height</ion-label>
                  <ion-input type="number" formControlName="height" min="0" max="999" ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!--password-->
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
              <div class="error-message"
                   *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password').dirty || validationForm.get('password').touched) ">
                {{validation.message}}
              </div>
            </ng-container>
          </div>



          <!--button-->
          <div class="row">
            <div class="column" style="text-align: center">
              <ion-button class="submit-btn" style="width: 90%" type="submit" [disabled]="!validationForm.valid">Register</ion-button>
              <p class="go-to-login">Have an account? <a (click)="goLoginPage()">Log In.</a></p>
            </div>
          </div>

          <label class="error-message">{{errorMessage}}</label>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
